<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta - <%= tegami %>
    </title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin-top: 10vh;
            background-color: #cfe67a;
            width: 90%;
            height: 400px;
            overflow: auto;
            padding: 2%;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            font-family: Arial;
            font-size: 3.5rem;
        }

        h2 {
            font-family: Arial;
        }

        p {
            font-weight: 700;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>

<body>
    <div>
        <h1>Tegami</h1>
        <h2>Aplicação para geração de Cartas Digitais
        </h2>
        <p>Acesse o repositório do Tegami no GitHub, localize a pasta paginas e crie um novo arquivo nomeado como titulo_da_sua_pagina.txt (substituindo titulo_da_sua_pagina por um título personalizado, como Minha_Carta.txt); em seguida, abra o navegador e acesse a URL: https://tegami3.vercel.app/carta?titulo=titulo_da_sua_pagina, substituindo titulo_da_sua_pagina pelo nome exato do arquivo que você criou.</p>
    </div>
</body>

</html>